.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(110%);
    padding: 1px;
    position: relative;
}

.main-title{
    font-size: 30px;
    color: white;
    display: block;
    margin: 5px;
    margin-top : 200px;
    text-align: center;
}

.main-content{
    font-size: 20px;
    color: lightgrey;
    text-align: center;
    padding: 1px;
}

.main-link{
    margin-top: 50px;
    text-align: center;
    padding: 1px;
}

.main-link a{
    width: 100px;
    font-size: 25px;
    color: white;
    padding: 30px;
    text-decoration: none;
}

.main-button{
    width: 100px;
    text-align: center;
    padding: 10px;
    color: grey;
    background-color: white;
    border: none;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.grey-box{
    width: 50%;
    height: 150px;
    background-color: lightgrey;
    margin: auto;
    position: relative;
    top: 100px;
    padding: 1px;
}

.box-title{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 30px;
}

.box-content{
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-top: 20px;
}