.box{
    width: 300px;
    background-color: skyblue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    box-shadow: 3px 3px grey;
}

.content{
    color: red;
}

.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    clear: both;
}

.header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.left-menu{
    width: 20%;
    height: 500px;
    background-color: blanchedalmond;
    float: left;
}

.profile{
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.right{
    width: 80%;
    height: 500px;
    background-color: coral;
    float: left;
}

.title{
    font-size: 16px; 
    color: darkgreen; 
    text-align: center;
}

#special{
    text-align: center;
    color: blue;
}
